b {
  padding: 10px;
  color: #eee;
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

p {
  color: grey;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  padding: 0;
  margin: 0;
}

input {
  font-weight: bold;
  opacity: .7;
  background: grey;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px 20px;
}

button {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  background: black;
  color: grey;
  cursor: pointer;
  padding: 10px 12px;
  border: none;
  border-radius: 10px;
}

button:hover {
  background: white;
  color: black;
}

i {
  color: grey;
  text-decoration: underline white;
}

.inform-block {
  background-image: url("/assets/images/renaultblack2.jpg");
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: center;
  background-position-y: -30px;
  background-size: 100%;
  border-radius: 5px;
  margin: calc(50vh - 300px) auto;
  width: 500px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  b {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  input {
    width: 130px;
    font-size: 12px;
  }

  button {
    padding: 10px;
    font-size: 10px;
  }

  .inform-block {
    width: 300px;
  }
}
