#content {
  color: white;
}

#load {
  width: 150px;
  font-size: 50px;
  text-align: center;
  margin: 0 auto;
  margin-top: calc(50vh - 100px);
  color: white;
  text-transform: uppercase;
}

ul {
  padding: 20px 20% 20px 20%;
  /*background: grey;*/
  display: flex;
  justify-content: space-between;
}

#push {
  display: grid;
  width: 200px;
  margin: 20px auto;
  text-align: center;
}

#push input[type="submit"] {
  margin: 10px auto;
  width: 100px;
}

input {
  border-radius: 5px;
}

#button-div {
  padding: 20px 15px 0 0;
  display: flex;
  justify-content: flex-end;
  background: grey;
}

#button-div button {
  margin-top: 18px;
  border: none;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  background: #343a40;
  color: grey;
  font-weight: bold;
}

b {
  color: grey;
  letter-spacing: 1px;
}

@media (max-width: 600px) {
  ul {
    padding: 20px 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

@media (max-width: 400px) {
  ul {
    padding: 20px 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

